<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/assets/jquery.min.js"></script>
      <script src="/assets/hammer.min.js"></script>
      <script src="/assets/bootstrap.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
